Cython==0.18
conda==1.4.4
ipython==0.13.1
numpy==1.7.0
pandas==0.10.1
ply==3.4
psutil==0.6.1
py==1.4.12
pytz==2012j
pyzmq==2.2.0.1
requests==0.13.9
scikit-image==0.8.2
scikit-learn==0.13
scipy==0.11.0
spyder==2.1.13
statsmodels==0.4.3
sympy==0.7.1
tables==2.4.0
